<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<!--

Main configuration file.

Steps:
1. Copy this file to either macnagios-config.plist (same directory) or to /etc/macnagios-config.plist or to your home directory.
2. For each nagios instance you plan to monitor:
      Find the folder that has your nagios index.php in it (generally something like /usr/share/nagios/)
      and download a copy of statusJson.php, like so:
      wget 'https://raw.githubusercontent.com/lizell/php-nagios-json/master/statusJson.php'
      Edit the top of that file to point to your Nagios status.dat file
      In this case you'd use the "...statusJson.php" style of URL (also shown below)
3. Configure the stuff below appropriately.
4. (Re)open this application.

-->

<plist version="1.0">

<dict>

	<key>NotifyOnChange</key> <!-- should we send messages to the notification center -->
	<true/>

	<key>NotifyWithSound</key> <!-- should our messages also include a sound? if NotifyOnChange is false, this will do nothing -->
	<true/>

	<key>SkipIfNotificationsDisabled</key> <!-- if true, then services which have notifications disabled are skipped and not considered -->
	<true/>

	<key>CheckFrequencySeconds</key> <!-- how many seconds to wait between checks - don't make this too fast, you might hurt yourself -->
	<integer>30</integer>

	<key>Servers</key>
	<array>

		<dict>
			<key>Name</key>
			<string>Example1</string>
			<key>URL</key>
			<string>http://example.com/nagios/statusJson.php</string>
			<key>AdminURL</key>
			<string>http://admin.edit.firechrome.org/nagios/</string>
			<key>Username</key>
			<string>nagios</string>
			<key>Password</key>
			<string>secret</string>
		</dict>

		<!-- you can specify as many nagios instance as you like, list each out here as a dict
		<dict>
			<key>Name</key>
			<string>Example2</string>
			<key>URL</key>
			<string>http://example2.example.com/nagios/statusJson.php</string>
			<key>AdminURL</key>
			<string>http://example2.example.com/nagios/</string>
			<key>Username</key>
			<string>nagios</string>
			<key>Password</key>
			<string>secret</string>
		</dict>
        -->

	</array>

</dict>

</plist>
